*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(fundo.jpg);
}
.cabecalho {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalho__imagem {
    width: 120px;
    height: 140px;
}
.cabecalho__lista-item {
    display: inline;
}

.estudante-conteiner{
display: flex;
justify-content:center ;
}
.estudante__imagem{
    width: 120px;
    height: auto;
}